<!doctype html>

<!-- ASSIGN OUR ANGULAR MODULE -->
<html ng-app="Float">
<head>
  <!-- META -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1"><!-- Optimize mobile viewport -->

  <title>Floaty</title>

  <!-- SCROLLS -->
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"><!-- load bootstrap -->
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
  <style>
    html          { overflow-y:scroll; }
    body          { background-color: #000; padding-top:50px; }
    #pool-list        { margin-bottom:30px; }
    #pool-form        { margin-bottom:50px; }
  </style>

  <!-- SPELLS -->
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.min.js"></script><!-- load angular -->

  <script src="controllers/float.js"></script> <!-- load up our controller -->
  <script src="services/pools.js"></script> <!-- load our pool service -->
  <script src="js/core.js"></script> <!-- load our main application -->

</head>
<!-- SET THE CONTROLLER -->
<body ng-controller="floatController">
  <nav class="navbar navbar-inverse navbar-fixed-top">
   <div class="container">
<div class="navbar-header">
 <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
   <span class="sr-only">Toggle navigation</span>
   <span class="icon-bar"></span>
   <span class="icon-bar"></span>
   <span class="icon-bar"></span>
 </button>
 <a class="navbar-brand" href="/">Sulaco</a>
</div>
<div id="navbar" class="collapse navbar-collapse">
 <ul class="nav navbar-nav">
   <li class="active"><a href="/">Home</a></li>
   <li><a href="#about">About</a></li>
   <li><a href="#contact">Media</a></li>
 </ul>
</div><!--/.nav-collapse -->
   </div>
 </nav>
  <div class="container">

  <div ng-repeat="pool in pools">
    <!-- HEADER AND pool COUNT -->
    <div class="jumbotron text-center">
      <h1>{{pool.name}} &nbsp <span class="label label-info">{{ pool.amount }}</span></h1>
    </br>
    {{pool.crew[0].name}} &nbsp {{pool.crew[0].job}} &nbsp {{pool.crew[0].fee}}
    </br>
    {{pool.crew[1].name}} &nbsp {{pool.crew[1].job}} &nbsp {{pool.crew[1].fee}}
    </div>
  </div>

    <!-- pool LIST -->
    <div id="pool-list" class="row">
      <div class="col-sm-4 col-sm-offset-4">

        <!-- LOOP OVER THE poolS IN $scope.pools -->
        <div class="checkbox">
          <label>
        <!--		<input type="checkbox" ng-click="deletePool(pool._id)"> {{ pool.name }} &nbsp &nbsp {{pool.amount}} -->
          </label>
        </div>

        <p class="text-center" ng-show="loading">
          <span class="fa fa-spinner fa-spin fa-3x"></span>
        </p>

      </div>
    </div>
    </br>

    </br>
    <div class="text-center text-muted">
      <p>A demo by <a href="http://go2group.com">Go2Group</a>.</p>
    </div>
  </div>

</body>
</html>
