
  .todo-list        { margin-bottom:30px; }
  .todo-form        { margin-bottom:20px; }

  .crew-holder {
    height:100px;
  }
  
  .crew-circle {

    height:50px;
    width:50px;
    background-color: 000;
    overflow: hidden;
    border-radius:50%;

  }
